<body>
    
    <div class ='div1' id="chartContainer" style="height: 370px; width: 100%;"></div>
    <button class="mat-button-wrapper" (click)="sortValues($event)" type="button">Sort</button>
    <mat-form-field>
        <mat-label>Algorithm to sort with</mat-label>
        <mat-select (selectionChange)=selected($event)>
          <mat-option *ngFor="let algorithm of algorithms" [value]="algorithm.value">
            {{algorithm.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
</body>

